<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.daqinjia.android.scaffold.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MVVMDemoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.NetTestActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DataFetchActivity"
            android:exported="true" />
        <activity
            android:name=".activities.DataListActivity"
            android:exported="true" />
        <activity
            android:name=".activities.NoBindingTestActivity"
            android:exported="true" />
        <activity android:name=".activities.ImagesActivity"
            android:exported="true" />
    </application>

</manifest>