<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.daqinjia.android.scaffold.demo">

    <uses-sdk tools:overrideLibrary="glimpse.core, glimpse.glide" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--主页 指定 launchMode="singleTask" -->
        <activity
            android:name=".activities.IndexActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MVVMDemoActivity"
            android:exported="true"
            android:label="MVVMDemoActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.NetTestActivity"
            android:exported="true"
            android:label="NetTestActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.DataFetchActivity"
            android:exported="true"
            android:label="DataFetchActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.DataListActivity"
            android:exported="true"
            android:label="DataListActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.NoBindingTestActivity"
            android:exported="true"
            android:label="NoBindingTestActivity" />
        <activity
            android:name=".activities.ImagesActivity"
            android:exported="true"
            android:label="ImagesActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.LogActivity"
            android:exported="true"
            android:label="LogActivity"
            android:parentActivityName=".activities.IndexActivity" />
        <activity
            android:name=".activities.ToolbarDemoActivity"
            android:exported="true"
            android:label="ToolbarDemoActivity"
            android:parentActivityName=".activities.IndexActivity" />
    </application>

</manifest>